<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>shopping-cart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.techtutorial.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>cn.techtutorial.servlet.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ordernow</display-name>
    <servlet-name>Ordernow</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Ordernow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ordernow</servlet-name>
    <url-pattern>/Ordernow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancel</display-name>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/Cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quantity</display-name>
    <servlet-name>Quantity</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Quantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quantity</servlet-name>
    <url-pattern>/Quantity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove</display-name>
    <servlet-name>Remove</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prod</display-name>
    <servlet-name>Prod</servlet-name>
    <servlet-class>cn.techtutorial.servlet.Prod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prod</servlet-name>
    <url-pattern>/Prod</url-pattern>
  </servlet-mapping>
</web-app>